// Imports
@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/fonts';
@import 'utils/reset';

// Code
html {
  font-size: $font-size;
  line-height: $font-line-height;
  color: $palette-dt-black-primary;
  height: 100%;

  @media only screen and (max-width: $width-laptop) {
    font-size: 17px;
  }

  @media only screen and (max-width: $width-table) {
    font-size: 16px;
  }

  @media only screen and (max-width: $width-phone) {
    font-size: 15px;
  }
}

body {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $palette-lt-white-primary;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-title;
  font-weight: $font-weight-title;
}

.wrapper {
} // .wrapper

// Modules:
// @import 'modules/customized-form.scss';