{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["airbnb/base"],
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "no-param-reassign": "warn",
    "no-plusplus": "off",
    "eol-last": "off",
    "max-len": [
      "error",
      120,
      { "ignoreUrls": true }
    ],
    "linebreak-style": "off",
    "import/no-mutable-exports": "warn",
    "prefer-const": "warn",
    "no-unused-vars": "warn",
    "comma-dangle": "off",
    "quotes": "warn"
  }
}
