{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["airbnb/base"],
  "rules": {
    "no-plusplus": "off",
    "eol-last": "off",
    "max-len": ["error", 80, { "ignoreUrls": true }],
    "linebreak-style": "off",
    "import/no-mutable-exports": "warn",
    "prefer-const": "warn",
    "no-unused-vars": "warn",
    "comma-dangle": "off"
  }
}