@mixin font-responsive($size-main, $size-min) {
  $size-add: $size-main - $size-min;
  $width-max: ($width-desktop - $width-phone) / 1px;

  font-size: calc(
    #{$size-min + px} + #{$size-add} *
      ((100vw - #{$width-phone}) / #{$width-max})
  );
}
