// Responsive font
@mixin font-responsive($size-main, $size-min) {
  $size-add: $size-main - $size-min;
  $width-max: ($width-desktop - $width-phone) / 1px;
  font-size: calc(#{$size-min + px} + #{$size-add} * ((100vw - #{$width-phone}) / #{$width-max}));
}

// Px to rem
@function rem($pixels, $context: $font-size) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1rem;
}

// Color in ARGB
@function color-opacity($color, $opacity: 0.5) {
  // background: $color;
  @return rgba($color, $opacity);
}

// Size to one line
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

// Placeholder helper
@mixin placeholder {
  ::-webkit-input-placeholder {
    @content;
  }
  :-moz-placeholder {
    @content;
  }
  ::-moz-placeholder {
    @content;
  }
  :-ms-input-placeholder {
    @content;
  }
}

// Fonts helper
@mixin font-face(
  $family,
  $path,
  $display: fallback,
  $weight: normal,
  $style: normal,
  $asset-pipeline: false
) {
  @font-face {
    font-family: $family;
    font-style: $style;
    font-weight: $weight;
    font-display: $display;
    src: local($family),
      url('#{$path}.woff2') format('woff2'),
      url('#{$path}.woff') format('woff'),
      url('#{$path}.svg') format('svg'),
      url('#{$path}.ttf') format('truetype'),
      url('#{$path}.eot?') format('embedded-opentype');
  }
}
