// Colors
$palette-lt-white-primary: #FFFFFF;
$palette-lt-white-secondary: #F7F6F5;

$palette-dt-black-primary: #000000;
$palette-dt-black-secondary: #1C1A19;

$palette-primary: #FF8522;
$palette-primary-dark: #FF6800;

$palette-secondary: #FFB841;
$palette-secondary-light: #FFCA86;

$palette-font: #101010;

// Fonts
$font-family-title: 'Montserrat', sans-serif;
$font-weight-title: 700;

$font-family: 'Roboto', sans-serif;
$font-weight: 400;

$font-size: 18px;
$font-line-height: 1.4;

// Dimensions
$width-desktop: 1920px;
$width-laptop: 1440px;
$width-table: 768px;
$width-phone: 320px;

// Animation
$anim-delay: 0.2s;