// Colors
// Light theme
$palette-lt-white-primary: #fff;
$palette-lt-white-secondary: #f7f6f5;
$palette-lt-gray: #d6d6d5;
$palette-lt-dark-gray: #373430;
$palette-lt-black: #221e1a;

// Dark theme
$palette-dt-black-primary: #000;
$palette-dt-black-secondary: #1c1a19;
$palette-dt-dark-gray: #1d1d22;
$palette-dt-gray: #2c2c32;

// Primary colors
$palette-primary: #ff8522;
$palette-primary-light: #ff6800;
$palette-primary-dark: #ff6800;

// Secondary colors
$palette-secondary: #ffb841;
$palette-secondary-light: #ffca86;
$palette-secondary-dark: #ff6800;

// Fonts
$font-size: 18px;
$font-line-height: 1.4;

// Title fonts
$font-family-title: "Montserrat", sans-serif;
$font-weight-title: 700;

// Main fonts
$font-family: "Roboto", sans-serif;
$font-weight: 400;

// Dimensions
// Width
$width-desktop: 1920px;
$width-desktop-small: 1440px;
$width-laptop: 1280px;
$width-tablet: 992px; // * 1024px (iPad Pro)?
$width-small-tablet: 768px;
$width-phablet: 576px;
$width-phone: 320px;

// Height
$height-phone: 375px;

// Animation
$anim-delay: 0.2s;
$anim-bezier-button: cubic-bezier(1, 0.17, 0.16, 0.83);

// Other
$container-width: $width-laptop;
